body{
background-color:black;
color:white;
margin:0;
}

a{
color:grey;
}

.nav-bar{
padding-right:20px;
margin-left:0;
font-family:Arial;
display:flex;
box-shadow:0 0 10px white;
margin:0;
align-items:center;
height:80px;
padding-left:20px;
justify-content:space-between;
}

.about{
margin-top:50px;
margin-right:10%;
margin-left:10%;
font-size:22px;


display:block;
}

.about span{
padding-left:40px;
}
